* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

#cover-page {
	background-image: url(portfolio-cover.jpg);
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

nav {
	width: 100%;
	padding: 5px 20px 5px 20px;
	position: fixed;
	background-color: white;
	font-size: 3vh;
}

#logo {
	font-family: "Playfair Display", serif;
	margin: 0;
	float: left;
}

.navbar {
	font-family: "Playfair Display", serif;
	color: black;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

li {
	display: inline;
}

li ::before {
	content: "|";
	color: black;
	margin-left: 2vw;
	margin-right: 2vw;
}

a {
	font-family: "Lato", sans-serif;
	text-decoration: none;
	color: black;
}

a:hover {
	opacity: 0.5;
}

#about {
	width: 100%;
	background-color: white;
	padding: 4vw 6vw 4vw 6vw;
}

h1 {
	font-family: "Playfair Display", serif;
	text-align: center;
	margin-top: 0;
	margin-bottom: 5vh;
}

h3,
p,
footer,
form {
	font-family: "Lato", sans-serif;
}

#portrait {
	width: 20%;
	float: right;
	border: 1px solid #bdb3e5;
	margin-left: 10px;
	margin-bottom: 10px;
}

#portfolio {
	width: 100%;
	background-color: #252525;
	color: #ffffff;
	padding: 4vw 6vw 4vw 6vw;
}

#portfolio a {
	color: #ffffff;
}

.thumbnail {
	width: 100%;
}

.project {
	background-color: #171717;
	color: #ffffff;
	margin-bottom: 20px;
}

h4,
.project > a,
.project > p {
	padding: 5px;
	color: #adacac;
}

#contact {
	text-align: center;
	width: 100%;
	padding: 4vw 8vw 4vw 8vw;
	background-image: url(contact-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#form-container {
	margin: 5vh;
	padding: 5vh;
	background-color: white;
}

form {
	display: inline-block;
	text-align: center;
}

.text-field {
	width: 40vw;
	display: block;
	margin: 10px 0px 10px 0px;
}

#message {
	height: 20vh;
}

.social {
	height: 3vw;
	width: 3vw;
	margin-left: 5px;
	margin-right: 5px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

footer {
	padding: 3px;
}

.send-message {
	background-color: #bdb3e5;
	border: none;
	font-family: "Lato", sans-serif;
	padding: 8px;
	color: #484650;
}

.send-message:hover {
	opacity: 0.7;
}

.menu {
	color: inherit;
	text-align: right;
	display: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ #dropdown {
	display: block;
}

@media screen and (max-width: 480px) {
	ul {
		display: none;
	}

	.navbar {
		width: 100%;
		display: block;
		float: left;
	}

	.menu {
		display: block;
	}

	#cover-page {
		background-image: url(small-cover.jpg);
	}
}

footer {
	margin-top: 20px;
	color: #ffffff;
	opacity: 0.7;
}
