* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

.flex {
	display: flex;
}

.wrap {
  flex-wrap: wrap;
}

#home {
	background-image: url(portfolio_bg.png);
	height: 80%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

nav {
	width: 100%;
	padding: 5px 20px 5px 20px;
	position: fixed;
	background-image: linear-gradient(to right, #EEE0ED , #C7B8DE);
	font-size: 20px;
	z-index: 99;
}

#logo {
	font-family: "Playfair Display", serif;
	margin: 0;
	float: left;
}

.navbar {
	font-family: "Playfair Display", serif;
	color: black;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

li {
	display: inline;
}

li ::before {
	content: "|";
	color: black;
	margin-left: 2vw;
	margin-right: 2vw;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
}

#about {
	background-color: #FFFCF5;
}

h1 {
	font-family: "Playfair Display", serif;
	text-align: center;
	margin-top: 0;
	margin-bottom: 5vh;
}

h3,
p,
footer,
form {
	font-family: "Lato", sans-serif;
}

.about-text {
	margin-top: 0;
}

#portrait {
	width: 100%;
	max-width: 250px;
}

#portfolio {
	width: 100%;
	background-color: #FFFCF5;
	color: black;
	padding: 4vw 6vw 4vw 6vw;
}


.content a {
	font-family: "Lato", sans-serif;
	padding-right: 10px;
	color: white;
}

.thumbnail {
	width: 100%;
}

.project {
	background-color: #171717;
	color: white;
	margin-bottom: 20px;
	flex-direction: column;
}

h4,
.content > div,
.content > p {
	margin-top: 0px;
	color: #adacac;
}

.content {
	padding: 10px;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-between;
}

#contact {
	height: 100%;
	padding: 4vw 0vw 1vw 0vw;
	background-image: url(contact_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#form-container {
	margin-bottom: 5vh;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

form {
	display: inline-block;
	text-align: center;
}

.text-field {
	width: 55vw;
	display: block;
	margin: 10px;
	border: none;
	background-color: #eeeaff;
	margin-left: auto;
	margin-right: auto;
}

.fa {
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.send-message {
	background-color: #bdb3e5;
	border: none;
	font-family: "Lato", sans-serif;
	padding: 8px;
	color: #484650;
	margin-top: 10px;
}

.send-message:hover {
	background-color: #eeeaff;
	cursor: pointer;
}

.menu {
	color: inherit;
	text-align: right;
	display: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ #navbar-options {
	display: block;
	float: left;
}

@media screen and (max-width: 600px) {
	ul {
		display: none;
	}

	.navbar {
		width: 100%;
		display: block;
		float: left;
	}

	.menu {
		display: block;
		cursor: pointer;
	}

	#home {
		background-image: url(small-cover.jpg);
	}
}

footer {
	width: 100%;
	padding: 5px 20px 5px 20px;
	background-color: #EEE0ED;
	font-size: 14px;
}
