* {
	box-sizing: border-box;
}



/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}
/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}
/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */



html {
	height: 100vh;
	background-color: #181818;
}

body {
	min-height: 100vh;
	overflow: visible;
}

.flex {
	display: flex;
}

.wrap {
  flex-wrap: wrap;
}

#home {
	height: 50vh;
}

#logo {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #FFFCF5;
	margin: 0 auto;
	text-align: center;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 1em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

a {
	text-decoration: none;
	cursor: pointer;
}

/*a:hover {
	opacity: 0.8;
}*/

#about {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	color: #FFFCF5;
	padding: 90px 0;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #FFFCF5;
	font-size: 5em;
	margin: 0;
	letter-spacing: 0.5em;
}

h2,
h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #FFFCF5;
}

h4,
footer,
form {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

p {
	font-family: 'Lora', serif;
	color: #FFFCF5;
	line-height: 1.7em;
	font-size: 14px;
}

.vertical-line {
		border-left: 1.5px solid #FFFCF5;
		height: 80px;
		left: 0;
		right: 0;
		margin-left: 50%;
}

.thumbnail {
	width: 100%;
}

.project {
	margin-top: 90px;
	justify-content: space-between;
	flex-direction: column;
	cursor: pointer;
}

.project-left-col {
	margin-right: 45px;
}

.project-right-col {
	margin-left: 45px;
}

.project-header {
	flex-direction: row;
	justify-content: space-between;
}

.project-title {
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 0.5em;
}

.icon-arrow {
	height: 2em; 
	align-self: flex-end;
}

.content {
	padding: 10px;
	flex-direction: column;
	flex: 1 1 auto;
}

#contact {
	height: 100%;
	padding: 4vw 0vw;
	background-image: url(contact_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#form-container {
	width: 90vw;
	padding: 45px;
	background-color: #FFFCF5;
}

form {
	display: inline-block;
	text-align: center;
}

.label {
	margin-right: 10px;
}

.input-field {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #181818;
	width: 50vw;
}

.input-field-msg {
	width: 50vw;
	border: 2px solid #181818;
	background-color: #FFFCF5;
}

.fa {
	font-size: 30px;
	margin: 0 15px;
	color: #181818;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#page-top-btn {
	cursor: pointer;
}

.send-message {
	background-color: #181818;
	border: none;
	border-radius: 25px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 8px 16px;
	color: #FFFCF5;
}

.send-message:hover {
	cursor: pointer;
}

.menu {
	color: inherit;
	text-align: right;
	display: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ #navbar-options {
	display: block;
	float: left;
}


@media screen and (max-width: 640px) {
	ul {
		display: none;
	}

	.project-left-col,
	.project-right-col {
		margin: 45px 0 0 0;
	}

	.icon-arrow {
		height: 1.5em;
	}

	.menu {
		display: block;
		cursor: pointer;
	}

}

@media screen and (max-width: 992px) {
	#logo,
	.project-title {
		font-size: 18px;
	}

	.icon-arrow {
		height: 1.5em;
	}
}

footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 10px 20px;
	background-color: #CBBDE0;
	font-size: 14px;
}

/*Big screen only*/
.copyright {
	padding: .5em 1em;
	margin: 0;
}